nav{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(217, 217, 116); */
    align-items: center;
    height: 5vh;
    position: sticky;
}

ul{
    display: flex;
    justify-content: center;
    gap: 54px;
}

li{
    list-style-type: none;
}